#footer {
    background-image: url("../img/bg.png");
    margin-top: 53px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
}

.hautFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.partiFooter {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.liFooter {
    list-style: none;
}

.fab {
    font-size: 3em;
    color: white;
    margin: 0;
    padding: 5px;
}

.logoFooter {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerLogo {
    width: 20vw;
    height: auto;
}

.footerBottom {
    display: flex;
    justify-content: center;
}

.footerText {
    padding: 30px;
}

.barreSepa hr {
    background-color: #FDC324;
    height: 0.4em;
    border: none;
    width: 60%;
    margin: auto;
    margin-top: 2%;
}

.lienFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barreSepaPart hr {
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%, 100);
    height: 20vh;
    width: 0.4em;
    background-color: #FDC324;
}

.titreFooter {
    font-size: 3em;
}

.vide {
    flex: 2;
}

.footerTitle {
    flex: 1;
    display: flex;
    justify-content: center;
}