@font-face {
    font-family: 'badabb';
    src: url("./../font/badabb.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
body {
    background-color: black;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Architects Daughter', cursive;
    margin: 0;
    padding: 0;
    font-size: 2em;
}

a {
    font-family: 'badabb';
    text-decoration: none;
    font-size: 2em;
    cursor: pointer;
}

h1 {
    font-family: "BADABB";
    margin: 0;
}

h2 {
    font-family: "BADABB";
    font-size: 35px;
    letter-spacing: 6px;
}

.whiteTitle {
    -webkit-text-stroke: 0.5px black;
    color: white;
    letter-spacing: 3px;
}


/* -------------------- Main ------------------ */

#main {
    width: auto;
    height: 80vh;
    margin: 120px 7vw 0 7vw;
    background-image: url("./../img/bg.png");
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bouton-smash {
    position: relative;
    width: calc(28vw + 60px);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* pointer-events: none; */
}

#bubble_cloud2 {
    width: 100%;
    height: auto;
}

.cls-2 {
    fill: #FDC324;
}

.btnTxt {
    position: absolute;
    text-align: center;
    padding: 0 0 50px 50px;
}

#btnSub {
    font-family: 'badabb';
    font-size: 5em;
}

#btnSub1 {
    font-family: 'Architects Daughter', cursive;
    font-size: 1.5em;
}